{% extends 'baseTemplate.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card p-4 shadow" style="background-color: rgba(255, 255, 255, 0.8);">
            <h2 class="text-center mb-4" style="font-weight: 400; font-size: 2rem;">Регистрация</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(style="font-weight: 400; font-size: 1rem;") }}<br>
                    {{ form.email(class="form-control", style="font-weight: 400; font-size: 1rem; box-shadow: none; outline: none;") }}
                </div>
                <div class="mb-3">
                    {{ form.username.label(style="font-weight: 400; font-size: 1rem;") }}<br>
                    {{ form.username(class="form-control", style="font-weight: 400; font-size: 1rem; box-shadow: none; outline: none;") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(style="font-weight: 400; font-size: 1rem;") }}<br>
                    {{ form.password(class="form-control", style="font-weight: 400; font-size: 1rem; box-shadow: none; outline: none;") }}
                </div>
                <div class="mb-3">
                    {{ form.password2.label(style="font-weight: 400; font-size: 1rem;") }}<br>
                    {{ form.password2(class="form-control", style="font-weight: 400; font-size: 1rem; box-shadow: none; outline: none;") }}
                </div>
                <div class="mb-3">
                    {{ form.role.label(style="font-weight: 400; font-size: 1rem;") }}<br>
                    {{ form.role(class="form-control", style="font-weight: 400; font-size: 1rem; box-shadow: none; outline: none;") }}
                </div>
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-custom btn-lg" style="font-weight: 400; font-size: 1rem;">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}