{% extends 'baseTemplate.html' %}

{% block content %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 400; font-size: 1.25rem;">{{ recipe.title }}</h5>
                <p class="card-text" style="font-weight: 400; font-size: 1rem;">{{ recipe.description }}</p>
                <a href="{{ url_for('main.recipe_detail', recipe_id=recipe.id) }}" class="btn btn-custom btn-lg">Открыть</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}